.main {
  /* Take the remaining width */
  flex: 1;
  padding-top: 2em;
  /* Make it scrollable */
  overflow: auto;

}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

/* card wrapper for each card */
.flex-container > div {
  color: #f5f5f5;
  background-color: rgba(168,179,207,0.1215);;
  width: 360px;
  margin: 10px;
  padding-bottom: 8px;
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;

  font-size: 15px;
  border-radius: 8px;
}
.filters {
  text-align:center;
}