/* global styles (will overwrite styles in css modules) */
/* * {
  border: 1px dashed white;
} */
:root {

}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #22272E;
  color: #adbac7;
  /* color: #fff; */

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-wrapper {
  padding: 3em;
}
a {
  text-decoration: none;
  color: #adbac7;
}
a:hover {
  color: #f5f5f5;
}

/* GLOBAL COMPONENTS */
.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #e2e2e2;
}
.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #326dee;
}
.btn-primary:hover {
  background-color: #4a7ef0;
}
.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #326dee;
  color: #fae7bf;
}
.btn-complement-primary:hover {
  color: #326dee;
  background-color: #fae7bf;
}
.btn-secondary {
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: indigo;
}
.btn-secondary:hover {
  background-color: #5a009c;
}
.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #fff;
  border: 3px solid indigo;
}
.btn-outlined-secondary:hover {
  background-color: indigo;
}
.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #d32752;
}
.btn-error:hover {
  background-color: #da3961;
}
.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #f6c31c;
}
.btn-info:hover {
  background-color: #f7c935;
}
.btn-outlined-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #fff;
  border: 3px solid #ffa600;
}
.btn-outlined-orange:hover {
  background-color: #ffa600;
}
.btn-outlined-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #fff;
  border: 3px solid #90f;
}
.btn-outlined-purple:hover {
  background-color: #90f;
}
.btn-complement-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #90f;
  color: #c2ff99;
}
.btn-complement-purple:hover {
  color: #90f;
  background-color: #c2ff99;
}

input {
  color: blue;
  width: 280px;
  height: 28px;
  border-radius: 5px;
}


/* global utility classes */
.text-center {
  text-align: center;
}
.text-left {
  text-align:justify;
}

.mx-1 {
  margin: 0 1em;
}
.mx-2 {
  margin: 0 2em;
}
.mx-3 {
  margin: 0 3em;
}
.mx-4 {
  margin: 0 4em;
}
.my-1 {
  margin: 1em 0;
}
.my-2 {
  margin: 2em 0;
}
.my-3 {
  margin: 3em 0;
}
.my-4 {
  margin: 4em 0;
}
.px-1 {
  padding-left: 1em;
  padding-right: 1em;
}
.px-2 {
  padding-left: 2em;
  padding-right: 2em;
}
.px-3 {
  padding-left: 3em;
  padding-right: 3em;
}
.px-4 {
  padding-left: 4em;
  padding-right: 4em;
}
.py-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}
.py-2 {
  padding-top: 2em;
  padding-bottom: 2em;
}
.py-3 {
  padding-top: 3em;
  padding-bottom: 3em;
}
.py-4 {
  padding-top: 4em;
  padding-bottom: 4em;
}
.letter {
  letter-spacing: 3px;
}